label{
    display: block;
}
input{
    display: block;
    width: calc(100% - 30px);
    margin-top: 4px;
    margin-bottom: 8px;
    padding: 10px;
}
.container{
    max-width: 1024px;
    margin: 0 auto;
}
.box{
    padding: 10px;
    border: 2px solid black;
    padding-bottom: 30px;
}
.password{
    position: relative;
    margin-bottom: 16px;
}

.eye{
    position: absolute;
    right: 20px;
    top:10px;
    cursor: pointer;
}
.login{
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.luongNhanVien{
    margin-top: 24px;
}
#tinhluong{
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
.hienThi{
    margin-top: 16px;
    padding: 16px 24px;
    text-align: center;
    width: 100%;
    display: none;
    background-color: black;
    color: white;
}
.inlineBlock{
    display: inline-block;
}
#tinhSoTrungBinh{
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}


.button{
    padding: 8px 16px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}
